discord.py==1.7.3
pyautogui
requests
keyboard
pyperclip
pyinstaller
pypiwin32
pycryptodomex
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
